minio
fastapi[standard]
pymilvus==2.6.9
sentence-transformers
pypdf
langchain-text-splitters
langchain_ollama
langchain
langchain-community
mlflow
apscheduler
pydantic-settings
pdfplumber
pandas
jupyter
matplotlib
seaborn
xgboost>=2.0.0
scikit-learn
psycopg2-binary>=2.9.0
boto3
